$default-font: "Inter", sans-serif;

$main-bg-color: #222831;
$secondary-bg-color: #eeeeee;
$third-bg-color: #393e46;

$primary-color: #eeeeee;
$secondary-color: #222831;
$secondary-em-color: #818181;
$button-bg: #008a90;

$text-darkcyan: #00adb5;
$white: #ffffff;
$black: #000000;
